body{
	color:#000000; font-size:12px;line-height:1.2;font-family:"돋움",Dotum,"굴림",Gulim,Verdana,sans-serif;background:url('../기타/bg_body.gif') repeat-x;
}
a{text-decoration:none;}
#wrapper{width:1080px;margin:50px auto 0;position:relative;}
h1,h2,h3,div{margin:0;padding:0;}

#my, #op{border:1px solid blue; background-color:#FFFFFF; width:400px; position:relative;}
#my{float:left;}
#op{float:right;}

.row{display:block;position:relative;border-top:1px solid green;padding:10px 0;}

h2,h3{display:inline; vertical-align:top;}
h2{margin:5px 0 5px 15px;}

/*1층*/
h1{width:50%;margin:0 auto;}

/*2층*/
.name{width:50%;margin:0 0 0 70px;}
/*3층*/
.profile{
	width:80px;height:80px;border:1px solid red;
	display:inline-block;background:url('../프로필/사쿠라.png') no-repeat 0 0px / contain;
	margin-left:100px;
	}
.findProfile{display:block;}
.findProfile{margin-left:205px;}

/*4층*/
.setRoster{display:inline;}
td{border:1px solid black;width:80px;height:80px;padding:4px;}
.profile2{width:80px;height:80px;background:url('../프로필/아이리스.png') no-repeat 0 0px/contain;}
.roster{width:252px;margin:10px auto;}
.setRoster{display:block;width:100px;height:40px;margin:5px auto;}

/*맵 선택창*/
#map{width:200px;float:left; margin-left:39px;background-color:#FFFFFF;}
#mapImg{width:180px;height:100px;border:1px solid black; margin:10px auto;}
#setMap{width:120px;height:30px;margin:5px auto; display:block;}

/*완료버튼*/
#finish{width:180px;height:70px;position:absolute;left:450px;top:500px;}


/*프사 선택창*/
#profileSelector{width:550px;height:400px; position:absolute;border:1px solid black;visibility:hidden;}
.list{width:80px;height:80px;}
#forScroll{width:300px;height:400px;overflow:auto;}
#profileSelector input[type="checkbox"]+ label {
    display: block;
	margin:0 auto;
    width: 70px;
    height: 70px;
    background: url('../프로필/매튜.png') no-repeat 0 0px / contain;
}
#profileSelector input[type='checkbox']:checked + label {
	width:80px;
	height:80px;
    /*background: url('../프로필/스미레.png') no-repeat 0 0px / contain;*/
}

#profileSelector input[type="checkbox"] {
    display: none;
}
#profileSelect{width:100px;height:100px;float:right; margin-top:150px;}
#profileSearch{width:100px;position:absolute;top:50px;left:450px;}
#pickedList{width:100px;height:350px;position:absolute;top:20px;left:320px;border:1px solid black;}

/*기타 추가사항 버튼*/
#copy{width:180px;height:70px;position:absolute;left:450px;top:350px;}